@import "tailwindcss";

body {
  background-color: #f3f4f6; /* Tailwind's bg-gray-100 */
  color: #111827;            /* Tailwind's text-gray-900 */
}

input{
    border: 1px solid black;
    border-radius: 5px;
}

input::-webkit-inner-spin-button {
  display: none;
}

.box-sd {
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.1), -4px 4px 8px rgba(0, 0, 0, 0.1);
}

@layer components {
  form {
    border: 1px solid #d1d5db; /* Tailwind's border-gray-300 */
    border-radius: 0.25rem;     /* Tailwind's rounded */
  }

  .auth-input {
    border: 1px solid #4b5563; /* Tailwind's border-gray-600 */
    border-radius: 0.25rem;    /* Tailwind's rounded */
    padding: 0.5rem;           /* Tailwind's p-2 */
    width: 80vw;               /* Tailwind's w-[80vw] */
    max-width: 400px;          /* Tailwind's max-w-[400px] */
  }
}

button{
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    background-color: #982d2d;
    padding: 4px 10px;
    cursor: pointer;
}