@import "tailwindcss";

body {
  @apply bg-gray-100 text-gray-900;
}

input{
    border: 1px solid black;
    border-radius: 5px;
}

input::-webkit-inner-spin-button {
  display: none;
}

.box-sd {
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.1), -4px 4px 8px rgba(0, 0, 0, 0.1);
}

@layer components {
  form {
    @apply border-gray-300 rounded;
  }

  .auth-input {
    @apply border border-gray-600 rounded p-2 w-[80vw] max-w-[400px];
  }
}

button{
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    background-color: #982d2d;
    padding: 4px 10px;
    cursor: pointer;
}